<div class="container">
  <h1>Coach says</h1>

  <div class="divide">
    <div class="grey">

    </div>
    <div class="question">
      <p><%= @question %></p>
      <p><em>-You</em></p>
    </div>
  </div>
  <div class="divide">
    <div class="grey">

    </div>
    <div class="answer">
      <p><strong><%= @answer %></strong></p>
      <p><em>-Your coach</em></p>
    </div>
  </div>

  <%= link_to "Ask another question", ask_path %>
</div>
